body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #0277bd;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: #0277bd;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.progress-box {
  background: #e1f5fe;
  padding: 12px;
  border-radius: 10px;
  margin-top: 15px;
}

.progress-bar {
  width: 100%;
  height: 15px;
  background: #cfe9f7;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 10px;
}

#progressFill {
  width: 0%;
  height: 100%;
  background: #0288d1;
}

#historyList li {
  background: #e1f5fe;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 5px;
}

.suggestion {
  margin-top: 12px;
  font-weight: bold;
  color: #01579b;
}

.reset {
  background: #e53935;
}

.date {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #dc192c;
  font-size: 16px;
}
