body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6); 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.container {
  width: 330px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #0277bd;
  font-size: 22px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #bbb;
}

button {
  width: 100%;
  padding: 10px;
  background: #0277bd;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-top: 12px;
}

.result-box {
  background: #e1f5fe;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
}

#historyList li {
  background: #e1f5fe;
  padding: 6px;
  border-radius: 5px;
  margin-top: 5px;
}

.reset {
  background: #e53935;
}
