body {
  font-family: Poppins, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #0077b6;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  width: 100%;
  border: none;
  margin-top: 10px;
  background: #0077b6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.progress-box {
  margin-top: 20px;
  background: #eefaff;
  padding: 10px;
  border-radius: 10px;
}

.progress-bar {
  width: 100%;
  height: 15px;
  background: #d6f3ff;
  border-radius: 20px;
  overflow: hidden;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: #00b4d8;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.quick {
  flex: 1;
  background: #00b4d8;
}

.custom-add {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

#historyList li {
  background: #eefaff;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.reset {
  background: #ff4d4d;
  margin-top: 20px;
}
